.AddToCart{
    width: 100%;
    min-height: 100vh;
    background: var(--background-color1);
   
}

.checkout-page {
    /* background: linear-gradient(var(--background-color1) 5%,
    var(--dark-purple) 95%); */
    background-color: var(--background-color1);
    height: max-content;
    width: 100%;
    color: var(--text-color2);
}

#checkout-form{
width: 70%;
margin: auto;
}

.checkout {
    padding: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: 70% 25%;
    grid-template-rows: 45vh 10vh 30vh;
    gap: 40px 65px;
    
    
}
#all-cart-items {
    overflow-y: auto;
    height: 65vh;
}

.checkout-forms-cont {
    width: 100%;
    height: 100%;
    /* background-color: darkgray; */
    border-radius: 15px;
    /* border: 10px solid var(--dark-purple); */
  
}

#order-summary {
    grid-column: 2/4;
    grid-row: 1/4;
    /* overflow: auto; */
}

.summary-details{
    color: var(--text-color2);
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.summary-details:nth-child(3){
    color: red;
}
.add-to-cart-content {
    padding: 15px 12em;
    /* border: 1px solid blue; */
}
h1{
font-size: 3em;
color: var(--dark-purple);
}

.checkout h2 {
    color: var(--text-color2);
    font-size: 2rem;
    margin: 10px 0;
}


.checkout-page form {
    padding: 10px ;
}
.checkout-forms{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 30px 25px;
}

.text-input:invalid {
  border: 2px solid red;   /* red border when empty */
  background: #ffecec; 
}

.checkout-forms div {
    display: flex;
    flex-direction: column;
    gap:2px
}

#checkout-form {
min-height: 100vh;
}

.checkout-forms-cont label {
    font-size: 1.2em;
    font-family: "raleway";
    display: flex;
    align-items: center;
}
.astrix{
    color: var(--light-purple);
}

.pay-method {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right:10px;
}

#payment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#payment div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    justify-self: center;
}

#payment input {
    accent-color: var(--dark-purple);
}

#card-number-cont {
   grid-column: 1/3;
}

.add-cart-prod{
    margin: 15px 0;
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}
.add-cart-prod img {
    width: 27vw;
    height: 80vh;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
}

.overlay{
    width: 27vw;
    height: 80vh;
    background-color: var(--dark-purple);
    position: absolute;
    z-index: 1;
    opacity: 10%;
    border-radius: 10px;
}
 

h2{
font-size: 2em;
color: var(--dark-purple);
}

.cart-rating {
    color: var(--dark-purple);
    font-size: 1.3em;
    display:flex;
    align-items:flex-start;
    
}

.add-to-cart-price {
    font-size: 2em;
    color: var(--dark-purple);
    font-weight: 500;
}

.add-to-cart-content h3{
font-size: 1.2em;
color: var(--dark-purple);
font-family: "raleway";
font-weight: 500;
display: inline;

}

.measurements{
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px 0 ;
    font-size: 1.3em;
    color: var(--text-color2);
    
}

.measurement-sizes {
    font-size: 1.3em;
    border: 2px solid;
    color: var(--text-color2);
    padding: 0.4em;
    border-radius: 5px;
    cursor: pointer;

}

.measurement-sizes:hover {
    border-color: var(--dark-purple);
}

.measurement-sizes:first-child{
    background-color:  var(--dark-purple);
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-selector .btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  background: var(--med-purple);
  font-size: 1.1em;
  cursor: pointer;
}

.quantity-selector .btn:hover {
  background: #ddd;
}

.quantity-selector .btn:active {
  transform: scale(0.9);
}

.quantity-selector .number {
  min-width: 40px;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  padding: 6px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
  color: var(--text-color2);
}


.add-to-cart-content label{
    font-size: 1.5em;
    color: var(--dark-purple);
}


.add-cart-prod-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 65vh;
    width: 500px;
    /* border: 1px solid red; */
}

.add-cart-prod-details form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.add-cart-prod-details form span{
    display: flex;
    gap: 10px;
}

#add-to-cart{
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.add-to-cart-input{
    border-radius: 10px;
    height: 30px;
    /* margin-left:10px ; */
    width: 50px;
}

#review-heading {
    color: var(--text-color2);
    font-size: 2em;
}
.review-rating {
    display: grid;
    /* grid-template-columns: 60% 40%; */
}
.cart-reviews {
    display: grid;
    /* grid-template-columns: 70% 20%;  */
    margin:20px 0 ;
    gap: 20px;
}

.reviews {
    /* background-color: lightgray; */
    width: 100%;
    height:fit-content;
    padding: 0 15px;

   
}

#review-details {
 display: flex;
 flex-direction: column;
 gap: 15px;
 width: 100%;
}

.reviews h2 {
    display: inline;
}

.review-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-date {
    font-size: 1.5em;
    color: var(--text-color2);
}

.rate-num {
    font-size: 2em;
    color: var(--text-color2);
}

.rating div {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

.rating {
    display: flex;
 flex-direction: column;
 gap: 15px;
}

.writer-name {
    color: var(--dark-purple);
    font-size: 2em;
    font-weight: 600;

}

.review {
    color: var(--text-color2);
    font-size: 1.2em;
}

.cart-page {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    

}

.cart-popup{
display: none;
}

#cart-menu {
    height: 100vh;
    width: 30vw;
    background:  var(--background-color1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    color: var(--text-color2);
    box-shadow: 5px 5px 15px var(--text-color2);
    /* border-left: 1px solid black; */
    
}

#all-cart-items {
   overflow-y:auto;
   scroll-behavior: smooth;
   width: 100%;
   /* border: 1px solid red; */
   height: 550px;
}

#cart-menu h1 {
    font-size: 3em;
    color: var(--dark-purple);
    display: flex;
    justify-content: space-between;
}

#cart-menu a{
text-decoration: none;
}
.cart-items {
    display: flex;
    gap:10px;
    margin: 15px 0;
}
.cart-items img{
    width:8vw;
    height: 24vh;
    object-fit: cover;
}

.cart-items p {
    font-size: 1.2em;
}

.cart-item-name {
    font-size: 1.3em;
}

#cart-total {
    font-size: 1.5em;
    color: var(--text-color2);
    font-weight: 600;
}

#checkout {
    background-color: gray;
}

.track-order-page {
    background: var(--background-color1);
    width: 100%;

    /* height: 100vh; */
}

.order-content {
    padding: 0 10px;
    width: 100%;
    min-height: 100vh;
    
}

.order {
    width: 80%;
    display: grid;
    grid-template-columns: 35% 20% 60%;
    color:var(--text-color2);
    padding: 30px 0 30px 0;
    /* border: 1px solid blue; */
}

.order-id-text{
    color:var(--text-color2);
    
}

.order-details {
    font-size: 1.2em;
}

.ordered-items {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
}

.ordered-items img{
    width: 80px;
    height: 110px;
    object-fit: cover;
    
}

.ordered-items div {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 80px 400px;
    gap: 10px;
    
}

.leave-review:hover{
    text-decoration: underline;
}

.filter-icon {
    color: var(--text-color2);
}

