.categories {
     background: linear-gradient(
        var(--background-color1),
        var(--dark-purple),
        var(--background-color1)
    );

}

.designers-collec {
    background-color: var(--background-color1);
}
.categories-content {
    padding: 20px 20px;
    min-height: 100vh;
}

.category-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--text-color2);
    margin-top: 1.5em;
}

.categories-products{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 50px 25px ;
}

.cat-product {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border:1px solid var(--background-color1);
}