.CustSignUp{
   
}

.loginSignUp {
    background: radial-gradient(
         var(--background-color1),
        var(--dark-purple)
    );
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
}


.form-container{
    background-color:transparent;
    width: 500px;
    height: fit-content;
    border: 8px solid var(--med-purple);
    border-radius: 25px;
    padding: 20px 15px;
    font-family: "Oswald",sans-serif;
    overflow-y: auto;

   
}

#desSignup{
    height: 700px;
    
}

.form-container h2 {
    font-size: 3.2em;
    text-align: center;
    color: var(--med-purple);
    margin-bottom: 2%;
}

.form-container label {
    display: block;
    font-size: 1.2em;
    color: var(--dark-purple);
}

.form-container input, .creds-input{
    width:100%;
    height: 6px;
    margin: 10px 0 15px 0;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: transparent;
    color: black !important;
    /* border: 1px solid var(--dark-purple); */
}

.form-container fieldset {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 10px;
    margin: 0 0 10px 0;
    color: var(--dark-purple);
    font-size: 1.2em;
    border-color: lightgray;
    border-radius: 3px;

}
legend{
    padding: 2px;
    color: gray;
}
.gender input {
    height: 20px;
    display: inline;
    width: 20px;
    margin-right: 5px;
    background-color: white;
    cursor: pointer;
}

.gender label {
   display: inline;
   color: gray;
}

.submit {
    background-color: var(--dark-purple);
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
}

.signup-login-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.button:hover {
    cursor: pointer;
    color: var(--light-purple);
}

.button:active {
    cursor: pointer;
    background-color: black;
}

.cred-error {
    color: red;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}

.button{
    width: 100%;
    height: 45px !important;
    background-color: var(--dark-purple);
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    z-index: 100;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next,.swiper-button-prev{
    width: unset;
    width: 100%!important;
    height: 45px !important;
    position: absolute !important;
    top: 530px !important;
    color: transparent !important;
    
}

.swiper-button-prev{
    top: 460px !important;
}



#signup-slide2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#signup-slide2 div{
    width: 100%;
}

.des-pfp {
    clip-path: circle();
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

#upload-file {
    background-color: transparent ;
    /* visibility: hidden; */
}



#upload-file-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    color: var(--dark-purple);
    cursor: pointer;

}

.login-signup-link {
    text-align: center;
    color: var(--text-color2);
}

.login-signup-link a {
    color: var(--med-purple) !important;
    text-decoration: underline;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 500;
}
