.home-content{
    height: fit-content;
    width: 100%;
    padding: 0 20px;
    font-size: 1em;
}

.home-content *{
    transition: 0.5s;

}

.home-page {
    background:linear-gradient(
        var(--background-color1) 0%,
        #d07a7a 60%,
        var(--background-color1)
    );
    /* width: 100vw; */
}

.main-section {
    padding-bottom: 20px;
}

#top-nav-bar {
    border-bottom: 1px solid darkgray;
}


.slides {
    overflow: hidden;
    margin: 10px 20px;
    height: 70vh;
    /* width: 100vw; */
    border-radius: 25px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 1px solid var(--dark-purple);
    align-items: center;
    /* background:radial-gradient(
         gray 1% ,
        black 25%
    ) */

}

.slides img {
    /* width: 158%; */
    height: 120%;
    object-fit: contain;
    /* position: absolute; */
    z-index: 1;
    /* border: 5px solid black; */
}

.home-info {
    gap: 15px;
    display: flex;
    flex-direction: column;
    /* z-index: 2; */
    position: absolute;
    /* align-items: center; */
    /* padding: 0 20px; */
    
    
    color: var(--med-purple)  ;
}

.home-swiper{
    
    width: 30vw;
    /* height: 100%; */
    margin: 0 !important;
    /* padding: 0!important; */
    display: block !important;
}

.home-swiper div{
    border: none;
    /* background-color: black !important; */
}
#short-desc {
    width: 500px;
    font-size: 1.5em;
    line-height: 1.2;
    margin-left: 1.5vw !important;
}

#slogan{
    font-size: 3em;
    text-shadow: -5px 5px 15px var(--dark-purple);
    transition: 1s;
    pointer-events: none;
    /* color: var(--background-color1); */
    margin-left: 1.5vw !important;
}



#slogan span {
    /* color: var(--dark-purple); */
    text-transform: uppercase;
    /* animation: slogan 5s 1s infinite; */
}

.home-page h2 {
    color: var(--dark-purple);
    font-size: 2.8em;
    margin: 10px 0 30px 0;
}

.home-page h3 {
    font-size: 2em;
   
}

#our-services{
    width: 100%;
    display: grid;
    grid-template-columns: 530px 530px 530px;
    height: fit-content;
    justify-content: space-between;

}



#our-services{
   height: 90vh;
}
#our-services img {
    width: 530px;
    height: 80vh;   
    position: absolute;
    z-index: 0;
    border-radius: 5px;
    object-fit: cover;
   
    
}
.product-cat{
border-radius: 25px;
/* padding: 20px; */

/* background-color:black; */
}

.category-img {
    border: 2px solid var(--text-color1);
filter: brightness(80%);
    width: 100%;
    height: 60vh;   
    /* position: absolute; */
    z-index: 0;
    border-radius: 25px;
    object-fit: fill;
   /* box-shadow: 5px 5px 20px var(--dark-purple); */
    
}


#our-services img {
    position: static;
}
.services-headings {
    color: var(--dark-purple);
    font-size: 2.5em;
}
.category:hover .category-img{
border: 2px solid var(--text-color1);
filter: brightness(100%);
}

.category:hover .view-collection{
    display: block;
    cursor: pointer;
}

.category{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.view-collection:active{
    background-color: var(--background-color2);
}

#product-cat div, #our-services div {
    width: 100%;
    height: 80vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#popular{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 17.5% 17.5% 17.5% 17% 17.5%;
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 30px 0px;
    color: var(--dark-purple) ;
}

#popular div{
    min-height: 550px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
}

#popular img{
    height: 550px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  

}


#popular p {
    font-family: "Oswald", sans-serif;
    color: var(--text-color2);
    font-weight: 200;
}


.product-name{
font-size:1.2em !important;
font-weight: 500 !important;
}

.view-collection {
    position: absolute;
    /* width: fit-content; */
    padding: 0 10px;
    min-height: 6vh;
    background-color: var(--background-color1);
    z-index: 10;
    border: none;
    font-size: 1.2em;
    font-family: "Playwrite US Modern", cursive;
    font-weight: 500;
    color: var(--dark-purple);
    border-radius: 5px;
    /* display: none; */
    width: 90%;
}

.popular-prod p:nth-child(3){
display: flex;
justify-content: space-between;
}

.price {
    font-size: 1em;
}

.see-more-btn {
  background: linear-gradient(135deg, #e54848, #d07a7a);
  color: white;
  border: none;
  padding: 16px 48px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  margin: auto;
}



.see-more-btn:active {
  opacity: 0.5;

}


/* SWIPER STYLES */
.mySwiper {
  /* width: 100%; */
  height: 60vh;
}

.cat-slides{
    border-radius: 25px;
    
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
   box-shadow: 1px 1px 15px var(--dark-purple);
  /* height: 100%; */
  /* object-fit: contain; */
}



