.women-wear {
    /* background: linear-gradient(
        var(--med-purple) 10%,
        var(--background-color3) 90%
    ) ; */
    background-color: var(--background-color1);

}
.men-wear{
      background-color: var(--background-color1);
}
.designers-collec {
    background-color: var(--background-color1);
}
.categories-content {
    padding: 20px 10px;
    min-height: 100vh;
}

.category-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--text-color2);
    margin-top: 1.5em;
}

.categories-products{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 50px 25px ;
}

.cat-product {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border:1px solid var(--background-color1);
}

.categories-products p {
    color: var(--text-color2) !important;
}
