.des-home {
    background: var(--background-color1);
    width: 100%;
    min-height: 100vh;
}

.des-home-content {
    padding: 10px 20px 30px 20px;
}

.designers-uploads {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 10px 0px;
    justify-content: space-between;
}

.design {
    height: 600px;
    color: var(--dark-purple);
}

.design img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

p {
font-family: "Oswald", sans-serif;
}

.product-name {
    font-weight: 300;
    font-size: 1.5em;
}

.remove-edit{
    font-size: 2em;
}

.product-details{
    display: flex;
    justify-content: space-between;
}

.upload-buttons{
    width: 50vw;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

#upload-a-design-content, #edit-profile-details {

    display: flex;
    flex-direction: column;
    gap:15px;
    /* overflow:hidden; */
}

.select-categories {
    display:grid;
    grid-template-columns: 50% 50%;
    border: none;
}

.designers-details{
    display: flex;
    gap: 10px;
    width: 50vw;
    /* justify-content: space-between; */

}
.contact-info{
    width: 80%
}

.designers-details img {
    object-fit: cover;
    width: 170px;
    height: 230px;
    border-radius: 10px;
}

.designers-details p {
    color: var(--text-color2);
    font-size: 2em;
}

#edit-designer-profile {
    /* width: 55.5%; */
    font-size: 32px;
    text-align: right;
    color: var(--dark-purple);
  
}

#designer:hover{
background-color: rgb(208, 122, 122,0.1);
}
#designer{
    width: 45vw;
    border-radius: 20px;
}

#all-designers {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    gap: 40px 10px;
    margin-bottom: 20px;
}
