.home-content{
    background-color: var(--background-color1);
    height: fit-content;
    width: 100%;
    padding: 0 20px;
    font-size: 1em;
}

.home-page {
    background-color: var(--background-color1);
}

.main-section {
    padding-bottom: 20px;
}

#top-nav-bar {
    border-bottom: 1px solid darkgray;
}


.slides {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background:radial-gradient(
         gray 1% ,
        black 25%
    )

}

.slides img {
    width: 100%;
    height: 85vh;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

.slides div {
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
#short-desc {
    color: white;
    width: 450px;
    font-size: 1.2em;
    line-height: 1.2;
}

@keyframes slogan {
    0% {text-shadow: -5px -5px 15px var(--dark-purple);}
    25% {text-shadow: 5px -5px 15px var(--dark-purple);}
    50% {text-shadow: 5px 5px 15px var(--dark-purple);}
    75% {text-shadow: -5px -5px 15px var(--dark-purple);}
    100% {text-shadow: -5px -5px 15px var(--dark-purple);}
}

#slogan{
    font-size: 3em;
    text-shadow: -5px 5px 15px var(--dark-purple);
    transition: 1s;
    pointer-events: none;
}



#slogan span {
    color: var(--dark-purple);
    text-transform: uppercase;
    animation: slogan 5s 1s infinite;
}

.home-page h2 {
    color: var(--dark-purple);
    font-size: 2.8em;
    margin: 10px 0 30px 0;
}

.home-page h3 {
    font-size: 2em;
   
}

#product-cat, #our-services{
    width: 100%;
    display: grid;
    grid-template-columns: 530px 530px 530px;
    height: fit-content;
    justify-content: space-between;

}



#our-services{
   height: 90vh;
}
#our-services img {
    width: 530px;
    height: 80vh;   
    position: absolute;
    z-index: 0;
    border-radius: 5px;
    object-fit: cover;
   
    
}
#product-cat{
    width: 100%;
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    height: fit-content;
    justify-content: space-between;

}

#product-cat img {
    width: 24vw;
    height: 80vh;   
    position: absolute;
    z-index: 0;
    border-radius: 5px;
    object-fit: cover;
   box-shadow: 5px 5px 20px var(--dark-purple);
    
}


#our-services img {
    position: static;
}
.services-headings {
    color: var(--dark-purple);
    font-size: 2.5em;
}

.category:hover .category-img{
border: 2px solid var(--text-color1);
filter: brightness(60%);
}

.category:hover .view-collection{
    display: block;
    cursor: pointer;
}

.view-collection:active{
    background-color: var(--background-color2);
}

#product-cat div, #our-services div {
    width: 100%;
    height: 80vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#popular{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 17.5% 17.5% 17.5% 17% 17.5%;
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 60px 0px;
    color: var(--dark-purple) ;
}

#popular div{
    min-height: 550px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
}

#popular img{
    height: 550px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  

}


#popular p {
    font-family: "Oswald", sans-serif;
    color: var(--dark-purple);
    font-weight: 200;
}


.product-name{
font-size: 1.5em;
}

.view-collection {
    width: fit-content;
    padding: 0 10px;
    height: 5vh;
    background-color: var(--background-color1);
    z-index: 1;
    border: none;
    font-size: 1.5em;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: var(--dark-purple);
    border-radius: 5px;
    display: none;
}

.popular-prod p:nth-child(3){
display: flex;
justify-content: space-between;
}

.price {
    font-size: 1.3em;
}


