@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+US+Modern:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+US+Modern:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Bitcount+Grid+Single:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+US+Modern:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  scrollbar-width: thin;
  scrollbar-color: #d07a7a #1a1a1a;
  /* transition: 0.5s; */
}

:root {
--dark-purple: rgb(208, 122, 122) ;
  --med-purple: #f06666 ;

  --text-color2: white ;
  --text-color3: black;
  --background-color1: black; 
  --background-color2: #f1f1f1f1 ;
  --skeleton-color: "grey.900";
}

.App {
  /* background-color: var(--background-color1); */
  transition: 1s;

}
.App *{
transition: 0.8s;
}

#user-details {
  color: var(--text-color2);
  font-size: 1.5em;
  font-weight: 500;
}


.splash-screen {
  /* background-color: #2f004a; */
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

#splash-navbar{
  height: 10vh;
  width: 100%;
  background-color: gray;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0 10px;
  align-items: center;
}

#splash-navbar h1 {

  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  color: black;
}

h1,h2,h3,h4{
   font-family: "Playfair Display", sans-serif;
}

p {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

#splash-navbar button {

height: 40px;
width: 100px;
background-color: white;
border: none;
border-radius: 10px;
font-family: "Oswald", sans-serif;
font-size: 1em;
color: #2f004a;
font-weight: 500;

}

#splash-navbar a {
  justify-self: end;
}

#splash-navbar button:hover {
  cursor: pointer;
}

#splash-navbar button:active {
  background-color: var(--dark-purple);
  color:white;
}
#splash-imgs {
  width:100%;
  height: 85vh;
  display: flex;
  padding: 20px;
  

}

#splash-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.navbar{
  position: sticky !important;
  top:0;
  left: 0 !important;
  z-index: 2;
  width: 100%;
}

#num-of-cart-items{
  color: black;
  background-color: var(--med-purple);
  font-size: 0.7em;
  clip-path: circle();
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  left:-15px; 
  top:-15px;
}

.top-navbar > span{
  width: 100%;
  display: flex;
}

.top-navbar > span:nth-child(1){
  gap: 30px
}

.top-navbar > span:nth-child(1) a{
  color: var(--dark-purple);
}

a:visited{
  color: inherit !important;
}

.top-navbar > span:nth-child(1) a:hover{
  color: var(--med-purple) !important;
  cursor: pointer;
  
}

.top-navbar > span:nth-child(1) a:active{
  color: var(--med-purple);
}
a {
  text-decoration: none;
}



.top-navbar > span:nth-child(2){
  justify-content: center;
}

.top-navbar > span:nth-child(3){
  justify-content: end;
  
}

.top-navbar {
  background-color: var(--background-color1);
  /* filter: blur(1px); */
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  overflow: hidden;
  padding: 5px 8px;
}

#burger-menu {
  display: none;
  color:var(--dark-purple);
  font-size: 1.5em;
  cursor: pointer;
}

.navbar-icons{
  font-size: 1.8em;
  color: var(--dark-purple);
  cursor: pointer;
  font-weight: 100;
  display: flex;
  align-items: center ;
  gap:5px
}

.top-nav-links{
  color: var(--dark-purple);
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  display: flex;
  gap: 10px;
}

.top-nav-links a {
  text-decoration: none;
}

.cart-profile:hover {
  color: var(--med-purple);
}

.nav-bar-comp h1 {
  font-size: 2.4em;
  color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  
}

.nav-dropdown{
  position: absolute;
  width: 22vw;
  height: 100vh;
  background-color: var(--background-color1);
  top:0;
  left: 0 !important;
  padding: 5px;
  display: none;  
  z-index: 10 !important ;
  border-right: 1px solid darkgrey;
}

.side-bar-links{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.side-bar-link,.side-bar-links a {
font-size: 1.5em;
text-decoration: none ;
display: flex;
align-items: center;
gap: 10px;
color: var(--dark-purple) !important  ;
}

.side-bar-link:hover {
  cursor: pointer;
  color: var(--med-purple) !important;
}

.close-sidemenu{
  font-size: 0.5em;
  text-align: center;
  vertical-align: top;
}

#footer {
  background-color: var(--background-color1) !important;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: var(--background-color1) !important;
  display: grid;
  grid-template-columns: 42% 20% 25% 13%;
  align-items: center;
  border-top: 1px solid gray;
  padding: 0 20px;
  justify-content: space-between;
}


.footer h1{
  word-wrap:break-word;
  font-size: 8em;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-color2);
}

.footer h1:first-child::first-letter{
font-size: 2em;
color: var(--dark-purple);
}

.footer h1:nth-child(2){
  margin-left: 5vw;
}

.footer-links {
  color: var(--dark-purple) !important;
  font-size: 1.2em;
  height: 200px;
  background-color: var(--background-color1);
 
}

.footer-links a {
  color: var(--dark-purple) !important;
  text-decoration: underline;
}


.footer-icons{
  display: flex;
  gap:10px;
  /* margin-top: 20px; */

}

.display-error{
  color:red;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap'); */

.error-container {
  font-family: 'Raleway', sans-serif;
  background-color: var(--med-purple);
  color: #555;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.error-code {
  font-size: 120px;
  font-family: 'Playfair Display', serif;
  color: var(--text-color2);
  margin: 0;
}

.error-title {
  font-size: 32px;
  margin: 10px 0;
}

.error-text {
  font-size: 18px;
   color: var(--text-color2);
  margin-bottom: 30px;
}

.error-button {
  text-decoration: none;
  background-color: var(--dark-purple);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  /* transition: background 0.3s; */
}

.error-button:hover {
  background-color: #333;
}


@media (max-width:1540px) and (min-width:1230px) {
  *{
    font-size: 0.98em
  }
  .top-navbar{
    height: 60px !important;
  }
  .search-bar {
    height: 38px;
  }

  #popular div{
    min-height: 450px !important;  
}

#popular img{
    height: 450px !important; 
}

#product-cat, #our-services{
    grid-template-columns: 300px 300px 300px 300px !important;

}


#our-services{
    grid-template-columns: 400px 400px 400px !important;

}

#product-cat img, #our-services img {
    width: 300px !important; 
}

 #our-services img {
    width: 400px !important; 
}
}



@media (max-width:1231px) and (min-width:1120px)  {
  *{
    font-size: 0.97em;
  }
  .top-navbar{
    height: 50px !important;
  }

  .search-bar {
    height: 28px !important;
    width: 200px;
    align-items: center !important;
    padding-bottom: 0 !important;
    /* padding: 0 !important; */
  }

  #short-desc {
    width: 400px !important;
  }

  .footer{
    height: 350px;
  }

  .footer h1{
    font-size: 9em;
  }

  .footer-links{
    height: 150px;
  }

  #search-input{
    height: 10px;
  }
  #popular div{
    min-height: 400px !important;  
}

#popular img{
    height: 400px !important; 
}

#product-cat, #our-services{
    grid-template-columns: 230px 230px 230px 230px!important;

}

#our-services{
    grid-template-columns: 330px 330px 330px !important;

}

#product-cat img{
    width: 230px !important; 
}

#our-services img {
    width: 330px !important; 
}
}

@media (max-width:1120px) and (min-width: 600px)  {
  *{
    font-size: 0.95em;
    
  }
  .top-navbar{
    height: 40px !important;
    /* justify-content: space-between; */
  }

  .search-bar {
    height: 24px !important;
    width: 200px;
    align-items: center !important;
    padding-bottom: 0 !important;
    /* padding: 0 !important; */
  }
  
  #search-input{
    height: 6px;
  }

  .footer{
    height: 300px;
  }

  .footer h1{
    font-size: 8.5em;
  }

  .footer-links{
    height: 150px;
  }


  #popular {
    grid-template-columns: 22% 22% 22% 22% !important;
  }
  #popular div{
    min-height: 350px !important;  
}

#popular img{
    height: 350px !important; 
}

#product-cat{
  grid-template-columns: 20vw 20vw 20vw 20vw !important;

}

#our-services{
  grid-template-columns: 25vw 25vw 25vw !important;

}

#our-services img {
    width: 25vw !important; 
}

#product-cat img{
    width: 20vw !important; 
}
#short-desc {
  width: 250px !important;
}
#top-nav-links{
  display: none !important;
  position: absolute !important;
}

#burger-menu {
  display: block;
}

.category-img{
border: 2px solid var(--text-color1);
filter: brightness(60%);
}

.view-collection{
 display: block !important;
}

#num-of-cart-items{
  position: absolute;
  left:93vw; 
  top:1vh;
  width: 100px;
}

}

@media (max-width: 600px)  {
  *{
    font-size: 0.94em;
  }
  .top-navbar{
    height: 40px !important;
    align-items: center !important;
    position: sticky !important;
    top: 0;
  }

  .nav-bar-comp h1 {
  font-size: 2.5em;
  /* margin-left: -50vw; */
  margin-bottom: 0.5vw;
  
}
.home-info{
  z-index: 1 !important;
}

  .search-bar {
    height: 20px !important;
    width: 120px;
    align-items: center !important;
    padding-bottom: 0 !important;
    /* display: none !important; */
    /* padding: 0 !important; */
  }
  .hideOnMob{
    display: none !important;
  }
  
  #search-input{
    height: 4px;
    width: 50px !important;
    border: none;
  }

  .footer{
    height: 150px;
    font-size: 0.6em;
    gap: 10px !important;
    grid-template-columns: 42% 20% 20% 13%;;
  }

  .footer h1{
    font-size: 5em;
    
  }

  .footer-links{
    height: 20px;  
    
  }

  .footer-icons {
    /* grid-column: 3/4; */
  }
 #our-services img{
  height: 50vh !important;
 }
 #our-services div{
  height: 60vh !important;
 }
 


  #popular {
    grid-template-columns: 48% 48% !important;
  }
  #popular div{
    min-height: 300px !important;  
}

#popular img{
    height: 300px !important; 
}

#product-cat, #our-services{
  grid-template-columns: 90vw !important;
  gap: 10px;
  height: fit-content !important;

}

#product-cat img, #our-services img {
    width: 90vw !important; 
}
#short-desc {
  width: 350px !important;
  font-weight: 800;
  font-size: 1.8em !important;
  text-shadow: 5px 5px 5px black;
}
#top-nav-links{
  visibility: hidden;
  display: none !important;
  position: absolute !important;
}

#burger-menu {
  display: block;
}
#slogan {
  margin-bottom: 5vh !important;
}

.category-img{
border: 2px solid var(--text-color1);
filter: brightness(60%);
}

.view-collection{
 display: block !important;
}

.nav-dropdown{
  width: 100vw;
  height: 430px !important;
  background-color: var(--background-color1);
  z-index: 10 !important;
}

#cart-menu{
  width: 300px !important;
}

.cart-items img{
  width:120px !important;
}
#num-of-cart-items{
  left:-10px; 
  top:-15px;
}

.home-header img{
  z-index: -1;
 height: 80% !important;
}

#slogan, #short-desc {
  z-index: 1;
}

#slogan {
  color: var(--med-purple) !important;
  text-shadow:5px 5px 8px black !important ;
}


.slides {
  flex-direction: row !important;
  height: 50vh !important;
  justify-content: center !important;
  /* align-items: flex-end !important; */
  display: flex !important;
  position: relative;
  background: black !important;
  pointer-events: none;

}

.slides div{
  position: absolute !important;
  z-index: 2;
  align-self: flex-end !important;
  padding: 0px 0px 20px 0!important;
  width: 90%;
}

.slides p {
padding-right: 35px;
}

.add-to-cart-content {
  padding: 15px 1em !important;
  /* border: 1px solid blue; */
}

.add-cart-prod{
  flex-direction: column;
}
.add-cart-prod img,.overlay {
  width: 95vw !important;
  height: 70vh !important;
}

.add-cart-prod-details {
  width: 100% !important ;
  gap: 5px !important;
  height: fit-content !important;
}
.quantity-selector .btn {
  width: 18px !important;
  height: 18px !important;
}

.number {
  min-width: 20px !important;
}

#num-of-cart-items{
  position: absolute;
  left:96vw; 
  top:2px;
  padding: 2.5px;
}

.checkout-forms{
  grid-template-columns: 100% !important;
}
.checkout {
  grid-template-columns: 100% !important;
  grid-template-rows: 100% !important;
 /* display: flex !important;
 flex-direction: column;
 gap: 0 !important; */
}

#checkout-form{
  width: 100% !important;
}
#all-cart-items{
  height: fit-content !important;
}

.checkout-forms{
  display: flex !important;
  flex-direction: column;

}

#order-summary{
  grid-column:auto !important;
  grid-row: 4/4 !important;
}

.cart-items img{
height: 150px !important;
}


#slide1{
  height: 70vh;
}

.form-container{
  width: 80vw !important;
}

#track-order-page{
overflow-x: hidden;
}

.order{
  gap: 20px !important;
  grid-template-columns: 50% 50% !important;
}
.order-id-text{
  grid-column: 1/4 !important;
  
}
}

